body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:536px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:630px;
  overflow:hidden;
}
#u1051_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:630px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1051_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:65px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:65px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:24px;
  width:532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1054 {
  position:absolute;
  left:13px;
  top:19px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1056 {
  position:absolute;
  left:46px;
  top:94px;
  width:90px;
  height:30px;
  text-align:center;
}
#u1057 {
  position:absolute;
  left:0px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u1058 {
  position:absolute;
  left:157px;
  top:94px;
  width:300px;
  height:30px;
}
#u1058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1059 {
  position:absolute;
  left:46px;
  top:143px;
  width:90px;
  height:30px;
  text-align:center;
}
#u1060 {
  position:absolute;
  left:0px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u1061 {
  position:absolute;
  left:157px;
  top:143px;
  width:300px;
  height:170px;
}
#u1061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1062 {
  position:absolute;
  left:46px;
  top:340px;
  width:90px;
  height:30px;
  text-align:center;
}
#u1063 {
  position:absolute;
  left:0px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u1064 {
  position:absolute;
  left:157px;
  top:340px;
  width:300px;
  height:30px;
}
#u1064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1065 {
  position:absolute;
  left:38px;
  top:412px;
  width:90px;
  height:30px;
  text-align:center;
}
#u1066 {
  position:absolute;
  left:0px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u1067 {
  position:absolute;
  left:157px;
  top:412px;
  width:300px;
  height:30px;
}
#u1067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068 {
  position:absolute;
  left:157px;
  top:516px;
  width:140px;
  height:40px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
