body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:536px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:630px;
  overflow:hidden;
}
#u1032_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:630px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1032_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:65px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:65px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:24px;
  width:532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1035 {
  position:absolute;
  left:13px;
  top:19px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1037 {
  position:absolute;
  left:46px;
  top:94px;
  width:90px;
  height:30px;
  text-align:center;
}
#u1038 {
  position:absolute;
  left:0px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u1039 {
  position:absolute;
  left:157px;
  top:94px;
  width:300px;
  height:30px;
}
#u1039_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1040 {
  position:absolute;
  left:46px;
  top:143px;
  width:90px;
  height:30px;
  text-align:center;
}
#u1041 {
  position:absolute;
  left:0px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u1042 {
  position:absolute;
  left:157px;
  top:143px;
  width:300px;
  height:170px;
}
#u1042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1043 {
  position:absolute;
  left:46px;
  top:340px;
  width:90px;
  height:30px;
  text-align:center;
}
#u1044 {
  position:absolute;
  left:0px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u1045 {
  position:absolute;
  left:157px;
  top:340px;
  width:300px;
  height:30px;
}
#u1045_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1046 {
  position:absolute;
  left:38px;
  top:412px;
  width:90px;
  height:30px;
  text-align:center;
}
#u1047 {
  position:absolute;
  left:0px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u1048 {
  position:absolute;
  left:157px;
  top:412px;
  width:300px;
  height:30px;
}
#u1048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1049 {
  position:absolute;
  left:157px;
  top:516px;
  width:140px;
  height:40px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
